@model ToyStore.ViewModel.ToyViewModel

@{ Layout = "/Views/Shared/_Layout.cshtml";}

@{ViewBag.Title = "Gallery";}


<head>
    <title>ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/gallery.css">
</head>

@if (ViewBag.SearchValue == null) {<h4>Toy Gallery</h4>}
else {<h4>You searched for : @ViewBag.SearchValue</h4>}

<div id="filterSortContainer">

    <div id="categoryFilterBar">
        <!-- Checkboxes will be dynamically added here -->
    </div>

    <select id="age-group-options">
        <!-- Options will be dynamically added here -->
        @*@{
            foreach (var ageGroup in Model.AgeGroupList)
            {
                <option value="@ageGroup">@ageGroup</option>
            }
        }*@
    </select>

    <select id="sort-options">
        <option value="popular-desc">Most Popular</option>
        <option value="price-asc">Price: Low to High</option>
        <option value="price-desc">Price: High to Low</option>
        <option value="category-asc">Category</option>
        <option value="name-asc">Name: A to Z</option>
        <option value="name-desc">Name: Z to A</option>
    </select>



</div>

<div class="container" id="products-container">
    <!-- Products will be dynamically added here -->
</div>

<div id="toyData" data-toydata='@Html.Raw(Json.Encode(Model.ToyList))' style="display:none;"></div>
<div id="categoryData" data-categorydata='@Html.Raw(Json.Encode(Model.CategoryList))' style="display:none;"></div>
<div id="ageGroupData" data-agegroupdata='@Html.Raw(Json.Encode(Model.AgeGroupList))' style="display:none;"></div>

<script src="~/Scripts/Gallery/GalleryScripts.js"></script>

