@model ToyStore.ViewModel.OrderViewModel

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Cart Checkout</title>
    <link rel="stylesheet" href="~/Styles/cart.css">
</head>


<div class="container">

    <h1>Cart Checkout</h1>
    <!-- Product Cards -->
    <div class="product-cards">
        <!-- Add more product cards as needed -->
    </div>
    <h2 id="total-amount"></h2>

    @*Checkout Form*@
    <div id="form-container">
        <div id="customer-info">

            @if (Session["IsLoggedIn"] != null && Session["IsLoggedIn"].ToString() == "true")
            {
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first-name" value="@Session["CustomerFirstName"]" readonly>

                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last-name" value="@Session["CustomerLastName"]" readonly>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="@Session["CustomerEmail"]" readonly>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" value="@Session["CustomerAddress"]" readonly>
            }

            else
            {
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first-name" required>

                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last-name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>
            }

        </div>

        <div id="credit-card">

            <label for="full-name">Full Name:</label>
            <input type="text" id="full-name" name="full-name" required>

            <label for="card-number">Card Number:</label>
            <input type="text" id="card-number" name="card-number" required>

            <label for="expiration-date">Expiration Date:</label>
            <input type="text" id="expiration-date" name="expiration-date" required>

            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" required>

        </div>
    </div>

    <div id="submit-div">
        <input type="submit" value="Submit Order" id="submit-button">
    </div>



    @*<script src="https://www.paypal.com/sdk/js?client-id=BAAkQF_HMUwnCbG6K7QE0KKzfF3mI1dazoJyYx8wxrFOA8oxEJl-IYjyNyL8blH1GfRITrAxFPxepM3yyE&components=hosted-buttons&disable-funding=venmo&currency=ILS"></script>
        <div id="paypal-container-PR96SHHZB7PBA"></div>

        <script>
            paypal.HostedButtons({
            hostedButtonId: "PR96SHHZB7PBA",
            }).render("#paypal-container-PR96SHHZB7PBA")
        </script>*@




</div>

<script src="~/Scripts/Cart/CartScript.js"></script>
<div id="orderData" data-orderdata='@Html.Raw(Json.Encode(Session["Orders"]))' style="display:none;"></div>





