@model ToyStore.ViewModel.CustomerViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="~/Styles/login.css">

</head>

<body>

    <div class="login-container">
        <h2>Login</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form action="@Url.Action("SubmitLogIn", "Customer")" method="post">
        @Html.LabelFor(model => model.Customer.Email, "Email:")
        @Html.TextBoxFor(model => model.Customer.Email, new { required = "required" })

        @Html.LabelFor(model => model.Customer.Password, "Password:")
        @Html.PasswordFor(model => model.Customer.Password, new { required = "required" })

        <button type="submit">Login</button>
    </form>
        <p style="text-align: center;">Don't have an account? <a href=@Url.Action("Register", "Customer")>Register</a></p>
    </div>

</body>

</html>
